<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ly.zhibo">
        <application
            >
        <activity
            android:name="com.ly.wevideo.WeVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="WrongManifestParent"></activity>
        </application>
</manifest>